<!-- What is INBA -->
scss:
  .about-us__block {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .about-us__block .title {
    text-align: center;
    border-bottom: 1px solid #333;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .about-us__block .subtitle {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
  }
  .about-us-block__description {
  }
  .about-us-block__decoration {
    vertical-align: middle;
    line-height: 80px;
    font-size: 80px;
    text-align: center;
    width: 12rem;
    display: inline-block;
  }

section class="block row full-width collapse about-us__block primary-color"
  div.site-width
    h1 class="title"
      | What is INBA?
    h4 class="subtitle"
      | Serving the natural athlete
	p.about-us-block__description
      | INBA is dedicated to providing it's athletes with the best natural bodybuilding events and resources in over 50
        countries strong an growing,
    /<p class="about-us-block__description">INBA is the world's largest natural bodybuilding and fitness site.</p>

    div.about-us-block__decoration
      = image_tag("nbbuildin.about.us.svg", height: 'auto', width: '100%')

